<div class="container1">

</div>

<script defer src="../public/"></script>
{{!-- {{#if list.length}}
<div class="main">
{{#each list}}
  <div class="oneItem">
    <div class="name">{{this.name}}</div>
    <div class="divImg">
      <img
        class="img"
        src={{this.picture}}
        alt=""
      />
    </div>
    <div class="price">{{this.price}}р.</div>
    <button class="btnDelete">Удалить</button>
  </div>
{{/each}}
</div>
<div class="footer">
  <span>Итого:{{sum}}р.</span>
  <button class="btnByu">Купить</button>
</div>
{{else}}
  <div class="empty">
    <span>Корзина пуста</span>
  </div>
{{/if}} --}}