{{!-- <div>
    {{#each orders}}
    <ul>Заказ номер: {{this.id}}</ul>
    <li>товар: {{this.product_id}}</li>
        {{#each this.User}}
        <li>{{this.mail}}</li>
        {{/each}}
    {{/each}}
</div> --}}
<div id="container">
    {{#each orders}}
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Заказ номер: {{this.id}}</h5>
      {{#each this.Carts}}
            <p class="card-text">товар: {{this.Product.product_name}}</p>
      {{/each}}

      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
    {{/each}}
</div>